<side-menus>
  <pane side-menu-content scroll="true">
    <header class="bar bar-header bar-assertive">
      <button class="button button-icon" ng-click="toggleLeft()"><i class="icon ion-navicon"></i></button>
      <h1 class="title">Overview</h1>
    </header>
    <div class="content has-header">
      <div class="card">
        <div class="item item-divider">
          {{ currentUser.firstName }}
          {{ currentUser.lastName }}'s Account
        </div>
        <a href="#" class="item item-icon-left">
          <div class="row">
            <div class="col col-20 col-center">
              <strong>Cash</strong>
            </div>
            <div class="col col-80 col-center">
              <h1>{{ (currentUser.balance || 0) | currency }}</h1>
            </div>
          </div>
        </a>
      </div>
      <div class="card">
        <div class="item item-divider">
          Cash Flow (Past Month)
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-66 item range range-positive">
                <input type="range" name="volume" min="0" max="100" value="33">
              </div>
              <div class="col-33 col-center padding-left">
                <strong>{{ (currentUser.totalEarned || 0) | currency }}</strong> Earned
              </div>
            </div>
            <div class="row">
              <div class="col-66 item range range-positive">
                <input type="range" name="volume" min="0" max="100" value="33">
              </div>
              <div class="col-33 col-center padding-left">
                <strong>{{ (currentUser.totalSpent || 0) | currency }}</strong> Spent
              </div>
            </div>
          </div>
          <div class="col padding-left col-center">
            <h2>{{ ((currentUser.totalEarned - currentUser.totalSpent) || 0) | currency }}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="col-50 col">
        Swipe Right For Account Options <i class="icon ion-arrow-right-a"></i> 
        </h4>
        <h4 class="col-50 col" style="text-align: right">
          <i class="icon ion-arrow-left-a"></i> Swipe Left For Recent Transactions
        </h4>
      </div>
    </div>
  </pane>
  <side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Account Options</h1>
    </header>
    <content has-header="true">
      <ul class="list">
        <a href="#" ng-click="item.action()" class="item" ng-repeat="item in options">
          {{item.text}}
        </a>
      </ul>
    </content>
  </side-menu>
  <side-menu side="right">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Recent</h1>
    </header>
    <content has-header="true">
      <ul class="list">
        <li class="item" ng-repeat="item in currentUser.transactions">
          {{ item.pos }}<br />
          <strong>{{
            (item.debit) ? "-" : ""
          }}{{ (item.debit || item.credit) | currency }}</strong>
          <br />
          {{ item.time | date:'medium' }}
        </li>
      </ul>
    </content>
  </side-menu>
</side-menus>
